
.MuiBadge-colorPrimary {
  color: #515c5f !important;
  font-weight: bold !important;
  background-color: #b0c9ce !important;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 20px !important;
}

.shape{
  background: #3f51b5;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    margin: 4px;
    font-size: 0.95rem; 
    width: 120px
}

.logo-icon{
  display: flex; 
  justify-content: space-between;
  width: 100%
}

@media only screen and (max-width: 600px) {
  .logo-icon{
    display: block; 
  }

}
